@font-face {
  font-family: "Roboto";
  src: url("/fonts/NeueHaasUnicaW1G.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/NeueHaasUnicaW1GBold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/NeueHaasUnicaW1GMedium.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
